.awe-wizard {
  span.xclose {
    float: right;
    cursor: pointer;
  }

  span.title {
    // float: left;
  }

  td.label {
    width: 20%;
  }

  td.field {
    width: 70%;
    min-width: 120px;
  }

  .buttons {
    text-align: right;
  }

  .scroll {
    max-height: 500px;
    overflow-y: scroll;
  }

  .dir-name {
    cursor: pointer;
  }

  .dir-icon {
    cursor: s-resize;
  }

  .picked-folder{
    margin-bottom: 12px;
  }
}
